header {
    margin-top: 33px;
    gap: 74px;
    margin-bottom: 74px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.cont-pokes {
    gap: 28px;
}

.cont-btns {
    gap: 14px;
}

#loading {
    margin-top: 74px;
}